@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    color: #FFFEFD;

    background: linear-gradient(#000, #67267E 220%);
}

 /* --------- CONFIGS PADRÃO----------- */

.btn {
    background: linear-gradient(98.62deg, #FFAC30 -27.91%, #FD01A7 102.96%);

    padding: 2rem;
    border: none;
    border-radius: 1rem;

    color: #FFFEFD;
    font-size: 1.9rem;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

 /* --------- HEADER----------- */

header {
    width: 90%;
    padding: 2.9rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

header .menu ul {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    list-style: none;
}

header .menu li a {
    color: #FFFEFD;
    font-size: 1.9rem;
    font-weight: 500;
    line-break: 2.4rem;
}

 /* --------- MAIN ----------- */

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* --------- SECTION HOME----------- */

section#home {
    height: calc(100vh - 12rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#home .content-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    font-family: 'DM Mono', monospace;
}

section#home .content-text h1{
    font-weight: 500;
    font-size: 6.8rem;
    line-height: 9rem;

    margin-bottom: 2.2rem;
}

section#home .content-text p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFEFD;
    font-family: 'Quicksand', sans-serif;
}

section#home .content-text .statistics{
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-top: 7.2rem;
}

section#home .content-text .description-statistics h3{
    font-size: 2.7rem;
}

section#home .content-text .description-statistics p{
    font-size: 2.3rem;
    line-height: 3rem;
    color: #FFFEFD;
}

section#home .content-img img {
    width: 46.8rem;
    height: 50rem;
}

 /* --------- SECTION PROJECTS----------- */
section#projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 7rem;
}

section#projects h3 {
    font-size: 2.7rem;
    font-weight: 600;

    margin-bottom: 7rem;
}

.menu-filters-marketplace {
    width: 100%;

    margin-bottom: 7rem;
}

.menu-filters-marketplace ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.6rem;
    list-style: none;
}

.menu-filters-marketplace ul li a{
    border: none;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    background: rgba(55, 55, 55, 0.3);
    color: #FFFEFD;
    font-size: 1.6rem;
    font-weight: 500;

    display: inline-block;
    text-align: center;
    width: 13rem;
    height: 4.8rem;
}

.menu-filters-marketplace ul li a.active {
    background: linear-gradient(98.62deg, rgba(255, 172, 48, 0.3) -27.91%, rgba(253, 1, 167, 0.3) 102.96%);
}

.cards-marketplace {
    width: 100%;
    display: grid;
    justify-content: space-between;
    gap: 3.9rem;
    grid-template-columns: 1fr 1fr 1fr;

    margin-bottom: 7rem;
}

.cards-marketplace .card {
    width: fit-content;
    padding: 2.3rem;
    background: rgba(55, 55, 55, 0.3);
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-marketplace .card .nft-image{
    width: 35.9rem;
    height: 35.9rem;

    margin-bottom: 2.3rem;
}

.cards-marketplace .card .details-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-description-card {
    font-weight: 500;
    font-size: 1.9rem;
}

.information-description-card {
    color: rgba(255, 254, 253, 0.2);
    font-weight: 500;
    font-size: 1.4rem;
}

.creator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creator img {
    width: 4.8rem;
    height: 4.8rem;
}

section#projects button {
    padding: 1.6rem 4rem;
    border-radius: .8rem;
    border: none;

    background: rgba(55, 55, 55, 0.3);
    color: #FFFEFD;
    font-weight: 500;
    font-size: 1.6rem;

    cursor: pointer;
}

 /* --------- SECTION NFT-CREATOR----------- */
section#nft-creator {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 7rem;
}

section#nft-creator h3 {
    font-weight: 600;
    font-size: 2.7rem;
    
    margin-top: .8rem;
    margin-bottom: 2.4rem;
}

section#nft-creator .options-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.2rem;
    margin-top: 2.4rem;
}

section#nft-creator .options-cards .card {
    background: rgb(55, 55, 55);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    width: 39.3rem;
    height: 35.9rem;
}

section#nft-creator .options-cards .card .title-card{
    font-weight: 600;
    font-size: 1.9rem;
}

section#nft-creator .options-cards .card .details-card {
    color: #FFFEFD;

    width: 19rem;
    display: inline-block;

    text-align: center;
}

section#nft-creator .buttons {
    margin-top: 5.6rem;
}

section#nft-creator .buttons button {
    border-radius: 1rem;
    border: none;

    padding: 2rem;
    width: 16rem;

    font-size: 1.9rem;
    color: #FFFEFD;
}

section#nft-creator .buttons .button-create {
    background: linear-gradient(98.62deg, #FFAC30 -27.91%, #FD01A7 102.96%);
}

section#nft-creator .buttons .button-watch {
    border: 1px solid #FD01A7;
    background: none;
    margin-left: 3rem;
}

 /* --------- SECTION CREATORS-WEEK----------- */
section#creators-week {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#creators-week h3 {
    font-weight: 600;
    font-size: 2.7rem;
    
    margin-top: .8rem;
    margin-bottom: 2.4rem;
}

section .creators-week-nft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 3.2rem;
}

.creators-week-nft .creator {
    background: rgba(55, 55, 55, 0.3);

    width: 42rem;
    height: 12.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.creators-week-nft .creator img {
    width: 12.2rem;
    height: 10rem;
}

.creators-week-nft .creator .details-nft-week {
    text-align: center;
}

.creators-week-nft .creator .details-nft-week .creator-name-nft {
    font-size: 1.9rem;
    font-weight: 600;
    color: #FFF;
}

.creators-week-nft .creator .details-nft-week .value-eth {
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFFEFD;

    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.8rem;
}

.creators-week-nft .creator .details-nft-week .value-eth img {
    width: 2.4rem;
    height: 3.9rem;
}

.creators-week-nft .creator a {
    font-size: 3.5rem;

    cursor: pointer;
}

 /* --------- SECTION COMMUNITY----------- */
section#community .box-community {
    width: 100rem;
    height: 46rem;
    margin-top: 15rem;

    background: rgba(55, 55, 55, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

section#community .box-community .container {
    text-align: center;
}

section#community .box-community  .container h3 {
    font-weight: 600;
    font-size: 3.3rem;
    margin-bottom: 2rem;
}

section#community .box-community button {
    margin-top: 6rem;
}

 /* --------- FOOTER----------- */

footer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 7rem;

    padding-bottom: 2rem;
}

footer .logo {
    font-size: 3.3rem;
    margin-bottom: 3rem;
}

footer .container-logo p {
    font-size: 1.9rem;
}

footer .container-more {
    display: flex;
    gap: 4rem;
}

footer .container-more .more {
    display: flex;
    flex-direction: column;
}

footer .container-more .more .title-more {
    font-weight: 700;
    font-size: 1.9rem;
}

footer .container-more .more .links-more {
    width: fit-content;
    margin-top: .8rem;

    font-weight: 400;
    font-size: 1.9rem;

    cursor: pointer;
}