@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    color: #FFFEFD;

    background: linear-gradient(#000, #67267E 220%);
}

.btn {
    background: linear-gradient(98.62deg, #FFAC30 -27.91%, #FD01A7 102.96%);

    padding: 2rem;
    border: none;
    border-radius: 1rem;

    color: #FFFEFD;
    font-size: 1.9rem;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

header {
    width: 90%;
    padding: 2.9rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .menu ul {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    list-style: none;
}

header .menu li a {
    color: #FFFEFD;
    font-size: 1.9rem;
    font-weight: 500;
    line-break: 2.4rem;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#home .content-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    font-family: 'DM Mono', monospace;
}

section#home .content-text h1{
    font-weight: 500;
    font-size: 6.8rem;
    line-height: 9rem;

    margin-bottom: 2.2rem;
}

section#home .content-text p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFEFD;
    font-family: 'Quicksand', sans-serif;
}

section#home .content-text .statistics{
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-top: 7.2rem;
}

section#home .content-text .description-statistics h3{
    font-size: 2.7rem;
}

section#home .content-text .description-statistics p{
    font-size: 2.3rem;
    line-height: 3rem;
    color: #FFFEFD;
}

section#home .content-img img {
    width: 46.8rem;
    height: 50rem;
}